* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  
}

body {
  max-width: 100vw;
  background: #0f0f0f;
  background-size: repeat;
  color: #fff;
}

.h2-section {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    text-shadow: 2px 1px 2px rgb(95, 91, 25);
  }

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  /*background-image: linear-gradient(178deg, rgb(6, 6, 6)35%, rgb(10, 10, 10)60%, rgba(14, 13, 13, 0.824));*/
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: solid 1px rgba(123, 123, 3, 0.5);
}

.logo {
  color: #c9a24d;
  font-size: 23px;
}

.nav a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}
.nav a:hover {
  color: #c9a24d;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.btn-dourado {
  background: linear-gradient(135deg, #d4af37, #a8862c);
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
}
.btn-dourado:hover {
  background: linear-gradient(135deg, #d1a21e, #d4af37);
}

/* HERO */
.hero {
  position: relative;
  height: 85vh;
}

.carousel, .slide {
  position: absolute;
  inset: 0;
}

.slide {
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s;
}

.slide.active {
  opacity: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 120px 80px;
  background-image: radial-gradient( rgba(24, 23, 23, 0.268)35%, rgba(18, 16, 16, 0.527)50%, rgba(0, 0, 0, 0.856)78%);
}

.hero-logo {
  color: #c9a24d;
  font-size: 63px;
  text-shadow: 3px 2px 1px #000000;
}

#h1-hero {
  font-size: 38px;
  margin-bottom: 20px;
  transform: translateX(1.2s);
  text-shadow: 2px 2px 1px #000000;
}
#p-hero {
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 600px;
  text-shadow: 1px 1px 1px #000000;
}

/* CONTROLS */
.carousel-controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #c9a24d;
}

/* section product CARDS */
.product-container {
  padding: 10px;
  text-align: center;
  background-image: url('../src/img/bk-body.jpg');
  background-size: contain;
}

.cards {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: block;
  min-width: 250px;
  max-width: 254px;
  min-height: 380px;
  margin-bottom: 10px;
  background: #1c1c1c;
  text-align: center;
  border: 2px solid rgba(123, 123, 3, 0.5);
  box-shadow: 5px 15px 10px rgb(0, 0, 0);
}

.card:hover {
  transform: rotateX(360deg);
  transition: 2s;
}

.h3-card{
  margin: 3px;
  padding: 0 5px;
}

.p-card{
  padding: 0 10px;
  margin-bottom: 20px;
  word-wrap: normal;
}

.btn-card {
  background: linear-gradient(135deg, #d4af37, #a8862c);
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
}
.btn-card:hover {
  background: linear-gradient(135deg, #d1a21e, #d4af37);
}


/* GALERIA */
.gallery-container {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #141414;

}

.gallery {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: center;
}

.img-gallery{
  width: 180px;
  height: 180px;
  margin: 10px;
  border: 2px solid rgba(123, 123, 3, 0.5);
  box-shadow: 5px 15px 10px rgb(0, 0, 0);
}

.gallery img:hover {
  transform: scale(1.70);
  transition: 1s;
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
}


/* SOBRE */
.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* CONTATO */
.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #1c1c1c;
  border: none;
  color: #fff;
}

.btn-whatsapp {
  display: inline-block;
  margin-top: 15px;
  background: #25D366;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .cards, .gallery, .sobre, .contato {
    grid-template-columns: 1fr;
  }

  .nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
  }

  .nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
